<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<h2>Spring Boot Chat App</h2>
<div id="chat"></div>
<input type="text" id="sender" placeholder="Name" />
<input type="text" id="message" placeholder="Message" />
<button onclick="send()">Send</button>

<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (msg) {
                showMessage(JSON.parse(msg.body));
            });
        });
    }

    function send() {
        var sender = document.getElementById('sender').value;
        var message = document.getElementById('message').value;
        stompClient.send("/app/send", {}, JSON.stringify({'sender': sender, 'content': message}));
    }

    function showMessage(message) {
        var chat = document.getElementById('chat');
        var line = document.createElement('div');
        line.innerHTML = "<b>" + message.sender + "</b>: " + message.content + " <i>(" + message.timestamp + ")</i>";
        chat.appendChild(line);
    }

    connect();
</script>
</body>
</html>
